.inputContainer {
  display: flex;
  margin-bottom: 5px;
  flex-direction: column;
  .input {
    height: 50px;
    font-size: 20px;
    padding: 5px;
    border: solid 1px #F2F2F2;
    margin-bottom: 5px;
  }

  .invalid {
    border: 1px solid red;
  }

  .title {
    color: gray;
    font-size: 20px;
    font-weight: 200;
}
}