.home {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: calc(100% - 2px);
  height: calc(100vh - 75px);
  .modalContent {
    position: relative;

    .closeModal {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.date {
  padding-left: 50%;
  width: 100%;

  .dateTitle {
    margin-right: 10px;
  }
}