.stageList {
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(100% - 20px);
  height: calc(100% - 140px);

  .leadsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: transparent;
    width: calc(100% - 5px);
    overflow-y: auto;

    @media (min-width: 1281px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}