footer {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: calc(100% - 2px);
  height: 100px;
  bottom: 0;
  border: solid 1px red;
}